* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
  color: white;
}

:root {
  --text-color: #dddddd;
  --bg-color: #E74C3C;
  --main-color: #121315;
}

body {
  background-color: var(--main-color);
}

header {
  margin-top: 35px;
}

#dash-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

#gamehunter {
  margin-left: 60px;
}
#gamehunter a {
  text-decoration: none;
  color: #ffffff;
}



#post-btn {
  background-color: var(--bg-color);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  width: 125px;
  margin-left: 105em;
  margin-top: 7px;
  cursor: pointer;
}

#post-btn-if {
    background-color: var(--bg-color);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    width: 74px;
    margin-left: 45em;
    margin-top: 7px;
    cursor: pointer;
}


#user-profile-container {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-left: 1000px;
}

#dash-main-user-container {
  display: flex;
  align-items: center;
}

#dash-user-icon {
  width: 50px;
  height: auto;
  border-radius: 50%;
  fill: #ffffff;
}

#dash-main-user {
  color: var(--dash-text-color);
  text-decoration: none;
}

#dash-container {
  display: flex;
}

#dash-log-out {
  text-decoration: none;
  color: #ffffff;
}

#dash-post-btn {
  background-color: var(--bg-color);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  width: 125px;
  cursor: pointer;
  margin-right: 70px;
}

#dash-post-btn-else {
  background-color: var(--bg-color);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  width: 125px;
  cursor: pointer;
  margin-right: 70px;
}
#user-icon {
  width: 50px;
  height: auto;
  border-radius: 50%;
  margin-left: 240px;
}

#main-user {
    margin-top: 20px;
    margin-bottom: -1rem;
    margin-left: 41rem;
}

#logout-user {
    margin-top: 20px;
    margin-bottom: -1rem;
    margin-left: 31rem;
}

#container {
  display: flex;
}

/* Left Section */
#left-section {
  background-color: #292A2C;
  padding: 50px;
  border-radius: 10px;
  margin-left: 60px;
  margin-top: 25px;
}

.left-container {
  margin-left: 10px;
}

.span-container{
  display: flex;
  justify-content: flex-end;
}

#game-tag {
  background-color: var(--bg-color);
  color: white;
  padding: 5px 10px;
  border-radius: 16px;
  font-size: 14px;
  position: absolute;
}

#carousel-img {
  width: 68.5em;
  height: 30.5em;
  border-radius: 15px;
  object-fit: cover;
  display: block;
  margin-top: 30px;
  background: url('/static/images/valorant.png') no-repeat center center / cover;
}

.img-container {
  border-radius: 10px;
    height: 31em;
    margin-top: 14px;
}

#post-content {
  margin-top: 40px;
}

#avatar {
  width: 75px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -8px;
}

#user-content {
  margin-left: -85px;
  margin-top: 2px;
}

.details-btn, .connect-btn {
  padding: 17px 40px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.details-btn {
  background-color: grey;
}

.connect-btn {
  background-color: var(--bg-color);
  color: white;
}

#btn-container {
  display: flex;
  justify-content: space-between;
  margin-left: 84px;
}

#carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  margin-top: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #5a5a5a;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #ffffff;
}


#right-section {
  background-color: #292A2C;
  padding: 50px;
  border-radius: 10px;
  margin-left: 25px;
  margin-top: 25px;
}

#active-player-icon {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

#player-container {
  margin-top: -15px;
}

.player {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.player-activity {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  color: var(--dash-text-color);
  text-decoration: none;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.online {
  background-color: green;
}

.offline { background-color: red; }

.user-name, .user-game {
  margin: 0;
}

.visit-prof-link{
  text-decoration: none;
  color: white;
}



.status-container {
  margin-top: 40px;
  margin-left: 60px;
}

.team-status {
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.5px;
}

.type-competitive {
  background: blue;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 15px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.type-casual {
  background: green;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 15px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.type-tournament {
  background: red;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 15px;
  position: absolute;
  top: 10px;
  left: 10px;
}



.team-status::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 23px;
  background-color: #FF4D4D; /* Red line */
  margin-right: 6px;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.card {
      background-color: #292A2C;
      border-radius: 12px;
      padding: 14px;
      width: 25.0625em;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      position: relative;
  }

#user-player-icon {
  width: 70px;
  height: auto;
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}

.tag {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 12px;
  color: white;
}


.details p {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.rank, .region {
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
}
