* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --text-color: #333;
  --bg-color: #E74C3C;
  --main-color: #121315;
}

body {
  background-color: var(--main-color);
}

#back-arrow{
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  margin-left: 32px;
}

#user-icon {
  max-width: 3%;
  height: auto;
}

#user-container {
  margin-top: 100px;
  margin-left: -25px;
  margin-bottom: 10px;
  gap: 5px;
}

#user-text {
  color: #ccc;
  font-size: 16px;
  margin-top: 20px;
}

#chat-box {
  height: 300px;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--text-color);
}

.message {
  max-width: 80%;
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 14px;
  word-wrap: break-word;
}

.received {
  background-color: #666;
  color: white;
  align-self: flex-start;
}

.sent {
  background-color: var(--bg-color);
  color: white;
  align-self: flex-end;
}

#chat-input {
  margin-top: 25px;
}

#chat-input-text {
  padding: 8px;
  background-color: var(--text-color);
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 350px;
  text-align: justify;
}

#chat-input-btn {
  background-color: var(--bg-color);
  color: white;
  border: none;
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
  margin-left: 100px;
}

#chat-input-text, #chat-input-btn {
  font-weight: 400;
  font-style: normal;
  font-family: "Bebas Neue", serif;
  font-size: 20px;
}
