* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
  color: white;
}

:root {
  --text-color: #dddddd;
  --item-color: #FF4556;;
  --main-color: #121315;
  --bg-color: #292A2C;
  --gradient-right: rgba(109, 38, 44, 0.301);
  --gradient-left: rgba(50, 255, 193, 0.103);
  --gradient-background: rgba(34, 35, 48, 0.93);
  --gradient-background-right: rgba(109, 38, 44, 0);
  --gradient-background-left: rgba(50, 255, 193, 0.103);
  --color-showcase-header: rgba(43, 45, 68, 0.93);
  --gradient-showcase-header-left: rgba(115, 173, 184, 0.247);
  --btn-background: rgba(43, 52, 68);
  --btn-background-hover: rgb(53, 62, 78);
  --btn-outline: rgb(93, 102, 118);
}

#cover-background {
  background-color: var(--main-color);
  height: 250px;
}

#user-info {
  background: radial-gradient(farthest-side at top right, var(--gradient-right), transparent 500px), radial-gradient(farthest-corner at top left, var(--gradient-left), transparent 600px), radial-gradient(farthest-corner at bottom right, var(--gradient-background-right), transparent 500px), radial-gradient(farthest-corner at bottom left, var(--gradient-background-left), transparent 600px);
  background-color: var(--gradient-background);
  height: 830px;
}

#avatar-container {
  display: flex;
  justify-content: center;
}

#user-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: -65px;
  border: 3px solid #FF4556;
}

#user-tag {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  margin-top: 20px;
}

.tag {
  color: #808080;
}

.game-badges {
  margin-left: 10px;
}

.badge {
  margin: 5px;
  border-radius: 12px;
  font-size: 12px;
  color: #ffffff;
  width: 100px;
  height: 26px;
  text-align: center;
  line-height: 20px;
}

.minecraft { 
  background: #11AE4D;
}
.valorant { 
  background: #FF4556;
}
.csgo { 
  background: #4564FF;
}

#bio-container {
  display: flex;
  justify-content: space-around;
}

#description-container {
  background-color: #1F2125 ;
  padding: 50px;
  border-radius: 10px;
  margin-top: 20px;
}

.description {
  margin-top: 15px;
}

#active-player-icon {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.rank-badge {
  display: inline-block;
  background: var(--item-color);
  color: white;
  border-radius: 25px;
  width: 175px;
  height: 50px;
  line-height: 48px;
  padding-left: 18px;
}

#user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#main-user-text {
  margin-left: -108px;
  margin-top: 4px;
}

#right-section {
  background-color: #1F2125;
  padding: 50px;
  border-radius: 10px;
  margin-top: 20px;
}

.player {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.player-activity {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.online {
  background-color: green;
}

.user-name, .user-game {
  margin: 0;
}